// Babel позволяет писать код с использованием новых возможностей JavaScript ES6-ES13.
// При этом можно не заботится о том, что функция не будет поддерживаться старым браузером.
// Babel транспилирует JavaScript код в ES5, в браузеры, которые не поддерживают этот стандарт.

{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ]
}
